source https://api.nuget.org/v3/index.json
framework: netcoreapp3.1, netstandard2.1, netstandard2.0
storage: none


nuget AspNetCore.HealthChecks.UI.Client
nuget AspNetCore.HealthChecks.MongoDb
nuget MongoDB.Driver
nuget MongoDB.Bson
nuget System.IdentityModel.Tokens.Jwt
nuget LanguageExt.Core
nuget MediatR
nuget MediatR.Extensions.Microsoft.DependencyInjection
nuget Swashbuckle.AspNetCore
nuget System.Collections.Immutable
nuget Serilog
nuget Serilog.AspNetCore
nuget Serilog.Enrichers.Demystify
nuget Serilog.Enrichers.Environment
nuget Serilog.Enrichers.Process
nuget Serilog.Enrichers.Thread
nuget Serilog.Exceptions
nuget Serilog.Extensions.Hosting
nuget Serilog.Extensions.Logging
nuget Serilog.Formatting.Compact
nuget Serilog.Sinks.Async
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.Trace
nuget Serilog.Sinks.Seq
nuget Serilog.Formatting.Elasticsearch

nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio
nuget coverlet.collector
nuget FluentAssertions