source https://api.nuget.org/v3/index.json
framework: net5.0
storage: none


nuget AspNetCore.HealthChecks.UI.Client
nuget AspNetCore.HealthChecks.MongoDb
nuget App.Metrics
nuget App.Metrics.Reporting.Console
nuget App.Metrics.Extensions.HealthChecks
nuget App.Metrics.Reporting.HTTP
nuget App.Metrics.AspNetCore.All
nuget MongoDB.Driver
nuget MongoDB.Bson
nuget System.IdentityModel.Tokens.Jwt
nuget LanguageExt.Core
nuget MediatR
nuget MediatR.Extensions.Microsoft.DependencyInjection
nuget Swashbuckle.AspNetCore
nuget System.Collections.Immutable
nuget Serilog.AspNetCore
nuget Serilog.Enrichers.Environment
nuget Serilog.Enrichers.Process
nuget Serilog.Enrichers.Thread
nuget Serilog.Exceptions
nuget Serilog.Extensions.Logging
nuget Serilog.Formatting.Compact
nuget Serilog.Sinks.Async
nuget Serilog.Sinks.Trace
nuget Serilog.Sinks.Seq
nuget Serilog.Formatting.Elasticsearch
nuget Microsoft.AspNetCore.Authentication.JwtBearer
nuget Microsoft.Orleans.Core 
nuget Microsoft.Orleans.Runtime.Abstractions
nuget Microsoft.Orleans.Server
nuget Microsoft.Orleans.CodeGenerator.MsBuild
nuget LanguageExt.FSharp
nuget FSharp.Core
nuget FSharpx.Extras
nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio
nuget coverlet.collector
nuget FluentAssertions